body {
    font-family: Courier, monospace;
    font-size: 18px;
    background: url('../img/1.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*Весь элемент всегда покрыт,*/
    background-size: cover;
    /*Фоновое изображение покрывает весь элемент*/
    padding: 0px;
    margin: 0;
    font-weight: 600;
}

header {
    width: auto;
    background-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-top: 13px;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 8px;
}

.afirst {
    font-size: 40px;
    padding-left: 150px;
    padding-right: 100px;
}

.section1 {
    margin-top: 710px;
    font-size: 15px;
    background: rgba(254, 140, 191, 1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe8cbf', endColorstr='#fff5f9', GradientType=1);
}

.divmain {
    padding-top: 100px;
    display: flex;
}

.div1 {
    height: 560px;
    width: 500px;
    background: url(../img/3.jpg)no-repeat left top;
    color: white;
    margin-left: 150px;
}

button {
    margin-top: 540px;
    width: 100px;
    padding: 3px;
    margin-left: 100px;
    background-color: black;
    color: white;
}

.button2 {
    margin-top: 540px;
    width: 130px;
    padding: 3px;
    margin-left: 50px;
    background-color: black;
    color: white;
}

.div2 {
    height: 600px;
    width: 500px;
    background: url(../img/4.jpg)no-repeat;
    color: white;
    margin-left: 150px;
}

.section2 {
    background: url(../img/5.jpg);
    width: 100%;
    height: 680px;
}

iframe {
    width: 100%;
    height: 680px;
    opacity: 0.65;
}

.section3 {
    background: url(../img/6.jpg) no-repeat left top;
    background-attachment: fixed;
    /*Весь элемент всегда покрыт,*/
    background-size: cover;
    /*Фоновое изображение покрывает весь элемент*/
    height: 800px;
    width: 100%;
    padding-top: 20px;
}

.divmaain2 {
    display: flex;
    padding-left: 70px;
}

.div3 {
    background: url(../img/tovar1.png) no-repeat left top;
    height: 500px;
    width: 400px;
    padding-top: 100px;
    padding-right: 20px;
}

.div4 {
    margin-top: 270px;
    background: url(../img/tovar2.png) no-repeat left top;
    height: 300px;
    width: 440px;
}

.div5 {
    margin-top: 170px;
    background: url(../img/tovar3.png) no-repeat left top;
    height: 500px;
    width: 400px;
}

h4 {
    padding-top: 500px;
    padding-left: 120px;
}

.ph {
    font-size: 36px;
    margin-left: 130px;
}

.h41 {
    padding-top: 355px;
    padding-left: 140px;
}

.ph1 {
    font-size: 36px;
    margin-left: 130px;
}

.h42 {
    padding-top: 435px;
    padding-left: 140px;
}

.ph2 {
    font-size: 36px;
    margin-left: 130px;
}

.button3 {
    margin-left: 590px;
    width: 100px;
    background-color: darkslateblue;
    color: white;
}

footer {
    padding-top: 0px;
}

.section4 {
    display: flex;
}

.div6 {
    height: 300px;
    width: 100%;
    padding-top: 10px;
    background-color: #fec1db;
}

form {
    padding-left: 150px;
    height: 200px;
}

input {
    text-align: center;
    width: 350px;
    margin-top: 30px;
    padding: 5px;
    background-color: #fec1db;
    color: black;
    font-weight: 900;
}

.input1 {
    margin-top: 5px;
}

.h1end {
    padding-left: 220px;
    font-size: 22px;
}

.a1 {
    border: 2px solid;
    padding: 4px;
    margin-left: 290px;
    color: black;
}

.div7 {
    width: 100%;
    height: 310px;
    background-color: black;
}

.ul1 {
    font-size: 12px;
    padding-left: 35px;
}

.ul2 {
    padding-left: 220px;
}

.li1 {
    padding-right: 20px;
}

h2 {
    color: white;
    padding-left: 100px;
    font-size: 48px;
}

p {
    color: white;
    font-size: 12px;
    padding-left: 20px;
}
